.custom-header {
	background-color: #618BA3;
    height: 82px;
}
.header-container {
	margin: 0;
    width: 100%;
}

.company-logo {
	max-height: 100%;
    width: auto;
    height: 70px;
    margin-left: 0;
    padding: 0;
}
.company-heading {
	margin-top: 10px;
	margin-right: 28px;
}